.card-body {
    height: 500px;
    overflow-y: auto;
}

.chatroom .card-body {
    overflow: hidden;
}

.user {
    color: black;
    display: block;
}

.user.me {
    color: blue;
}

.chats {
    height: 90%;
    overflow-y: auto;
}

.chat {
    background-color: lightblue;
    text-align: left;
    display: block;
    padding: 5px;
    margin: 3px;
}

.chat.me {
    background-color: lightgreen;
    text-align: right;
}

.chat span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.chat span {
    display: block;
}

.message {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    padding: 10px;
}

.inputMsg {
    width: 80%;
}

.btnMsg {
    width: 20%;
}
